.list {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}



.list ul {
    overflow-y: auto;
    height: 157px;
    padding-left: 5px;
    position: relative;
}


.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    margin: 10px 0;
    min-width: 100%;
}

.list li.plus {
    border-right: 5px solid var(--green-pri);
}

.list li.minus {
    border-right: 5px solid var(--red-pri);
}

.delete-btn {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    color: #333;
    line-height: 12px;
    padding: 3px 5px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}