form>div:not(:last-child) {
    display: inline-block;
}

form .desc {
    width: 72%;
    margin-right: 3%;
}

form .amount {
    width: 25%;
}

label {
    display: inline-block;
    margin: 10px 5px;
}



input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn,
.btn-pri,
.btn-sec {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0 0;
    padding: 10px;
    width: 48%;
    transition: all ease 0.3s;
}

.btn-pri {
    background-color: var(--blue-pri);
    margin-right: 5px;
}

.btn-pri:hover {
    background-color: var(--blue-sec);
}

.btn-sec {
    background-color: var(--red-pri);
    margin-left: 9px;
}

.btn-sec:hover,
.btn-sec:focus {
    background-color: var(--red-sec);
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}